@import "./vars"

*
    box-sizing: border-box!important

body
    font-size: 16px
    margin: 0
    padding: 0

    //! instead Muller -> Roboto
    font-family: 'Roboto', sans-serif
    //* font-family: 'PT Sans', sans-serif
    //* font-family: 'PT Serif', serif

.content
    width: $standart-start-width
    margin: auto

section
    & > p
        margin: 10px 0 40px 0
        text-align: center
        color: $color-gray

button
    outline: none
    border: none
    cursor: pointer
    background: #fff
    user-select: none

.button
    width: fit-content
    height: fit-content
    padding: 12px 50px
    border-radius: 8px

    &_primary
        color: #fff
        background: $color-blue
        text-transform: uppercase
        font-size: 0.8em
        font-weight: 700
        letter-spacing: 3%
        box-shadow: 4px 10px 30px rgba(47, 128, 237, 0.35)

    &_secondary
        color: $color-blue
        background: #fff
        text-transform: uppercase
        font-size: 0.8em
        font-weight: 700
        letter-spacing: 3%

        border: 1px solid $color-blue
        border-radius: 8px
        transition: all .21s ease-in-out

        &:hover
            color: #fff
            background: $color-blue
            box-shadow: 4px 10px 30px rgba(47, 128, 237, 0.35)

a
    text-decoration: none

    &.link_privacy
        color: $color-blue

h1, h2
    font-weight: 700
    word-break: break-word

h1
    margin-bottom: 0
    font-size: 3.5em

h2
    text-align: center
    font-size: 3em

h3
    font-size: 1.5em
    font-weight: 500
    text-align: center

p
    font-weight: 400
    font-size: 1.2em
    line-height: 1.5em

section
    margin: 100px 0

@import "./nav"
@import "./header"
@import "./work-stages"
@import "./notification"
@import "./forms/get-fulltime-work"
@import "./conditions"
@import "./forms/calculate-salary"
@import "./get-work-steps"
@import "./agreements"
@import "./online-interview"
@import "./location"

@media screen and ( max-width: $standart-start-width - 1px ) and  (min-width: $tablet-start-width )
    body
        font-size: 14px

    .content
        width: 100%
        padding: 0 30px

@media screen and ( max-width: $tablet-start-width - 1px )
    body
        font-size: 12px

    .content
        width: 100%
        padding: 0 20px

    .button
        width: 100%
